*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: rgb(240, 255, 238);   
}
header{
    /* color:rgb(18, 113, 39); */
    color:#127127;
    font-size:xx-large;
    display: flex;
    justify-content: center;
}
form{
    display: flex;
    flex-direction: column;
    align-items: center;
}
form input, button, textarea, select{
    width: 300px;
}
img{
    height: 100px;
    width: auto;
}
button:hover{
    background-color: #127127;
}
link:hover{
    color:#127127;
}
